/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

*,
::after,
::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}
body {
  font-size: 100%;
  margin: 0;
  font-family: 'Oswald', sans-serif;
  text-align: center;
  background-color: #f1f1f1;
  color: #222;
  background-image: url(./images/background.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
main {
  min-height: 100vh;
}
.text-title {
  font-family: 'Permanent Marker', cursive;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* NAVIGATION */
nav {
  width: 100%;
  padding: 0.5em;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  display: block;
  width: 90%;
  max-width: 300px;
  text-decoration: none;
  font-size: 120%;
  font-weight: 600;
  padding: 0.2rem 0.5rem;
  margin: 1rem auto;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border: 1px solid transparent;
}
.active {
  border-color: #f1f1f1;
}
nav a:not(.active):hover {
  background-color: #f1f1f1;
  color: rgba(0, 0, 0);
}

/* MENU */

.menu-container {
  margin: 5rem auto 2rem;
  width: 97%;
  max-width: 1170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.card {
  max-width: 400px;
  padding: 2rem;
  padding-bottom: 0%;
  margin: 2rem 0.2rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  border: 1px solid #f1f1f1;
}

.menu-container img {
  width: 100%;
  height: 300px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
}

p {
  font-size: 120%;
  color: #f1f1f1;
  padding: 1em;
  line-height: 1.5;
  letter-spacing: 2px;
  margin: 2rem auto;
  width: 80%;
  background-color: rgb(31, 28, 28);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 4px;
}

p.description {
  margin: 0;
  width: 100%;
  background-color: transparent;
}

form {
  width: 95%;
  max-width: 700px;
  border: 1px solid black;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 1.5em;
  margin: 1em auto 6em;
  font-size: 120%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

label,
legend {
  display: block;
  color: #fff;
  margin-bottom: 1rem;
}

input,
textarea {
  padding: 0.7rem;
  border-radius: 5px;
  border: none;
}

.btn {
  color: #f1f1f1;
  outline: none;
  background-color: rgb(27, 26, 26);
  border: 2px solid #f1f1f1;
  font-weight: 600;
  width: 20%;
  padding: 0.5rem 1rem;
  margin: 1rem auto;
  -webkit-transition: all 0.4s linear;
  -o-transition: all 0.4s linear;
  transition: all 0.4s linear;
}

.btn:hover {
  color: #222;
  background-color: #f1f1f1;
  border-color: #222;
}

input:focus,
textarea:focus {
  outline: none;
}

footer p {
  margin: 0;
  width: 100%;
  padding: 0.7rem 0;
}

@media screen and (min-width: 700px) {
  nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  nav a {
    max-width: 200px;
  }
}
